@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Global */


body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body h1{
    color: #282f59;
}

body p {
    color: #7C7C7C;
}

body a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
}
.offset:before{
    display: block;
    content: "";
    height: 5rem;
    margin-top: -5rem !important;
}

.jumbotron{
    background-color: #181818 !important;
}

/* Gradient Colors */
:root{
    --gradient-1 :linear-gradient(to bottom right, #0236a0, #3048ff);

--gradient-2 : linear-gradient(to bottom right, #3030ff, #ff0000);

--gradient-3 :  linear-gradient(to bottom right, #4500a5,#0049b6);

--gradient-4 : linear-gradient(to bottom right, #ff0000, #710f92);
}

/* Header */
header {
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* NAVIGATION BAR */
.navbar{
    text-transform: uppercase;
    width: 100vw;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: #042c7b !important;
    padding: 12px 5px;
}
.logo{
    font-size: 24px;
    padding: 25px 15px;
    font-weight: bold;
    font-style: normal;
}
.navbar-brand span{
    text-shadow: .55rem .55rem .8rem black !important;
}
.navbar-brand img{
    height: 3.1rem !important;
}
.navbar #title{
    font-size: 1.2rem !important;
}
.navbar-brand li{
    padding-right: .7rem;
}
.navbar-nav li{
    padding-left: 10px;
}
.navbar-nav li a{
    position: relative !important;
    text-shadow: .55rem .55rem .8rem black !important;
}
.navbar-nav li a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.15rem;
    left: 0;
    bottom: 0;
    color:  rgb(194, 194, 194);
    background:  rgb(194, 194, 194);
    transform-origin: left;
    transition: all 0.8s;
    transform: scaleX(0);
}
.navbar-nav li a:hover::after{
    transform: scaleX(1);
    color:  rgb(194, 194, 194) !important;
}
a#title.navbar-brand{
    color: white;
}

.navbar-dark .navbar-nav .nav-link{
    color: white !important;
    padding-top: .8rem !important;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(194, 194, 194) !important;
}
.navbar-toggler:focus{
    outline: none;
}

button.navbar-toggler.ml-auto.custom-toggler{
    margin-left: 0px;
}

.logo{
    width: 180px;
}

.ctn{
    padding: 12px 22px;
    font-size: 18px;
    background: #013191;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    transition: transform 0.5s;
}
.ctn:hover{
    background: #05338f;
    color: white;
    text-decoration: none;
    transform: scale(2.8);
}

#home{
    width: 100%;
}

/*--- Fixed Landing Page Section --*/
/* LANDING PAGE */

.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.row {
    display: flex;
    align-items: center;
    padding-top: 5rem;

}

.header-content, .hero-img{
    position: absolute;
    top: 25%;
    flex-basis: 50%;
    background-color: rgba(0, 0, 0, 0.463);
}
.ctn:hover{
    background: #05338f;
    color: white;
    text-decoration: none;
    transform: scale(1.2);
}

#home{
    width: 100%;
}

/*--- Fixed Landing Page Section --*/
/* LANDING PAGE */

.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.row {
    display: flex;
    align-items: center;
    padding-top: 5rem;

}

.header-content, .hero-img{
    position: absolute;
    top: 25%;
    flex-basis: 50%;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 0px 10px 10px 0px;
    padding: 2rem 1rem 2.7rem 2rem;
    width: 50%;
    height: min-content;
}

.header-content h1{
    font-size: 7vmin;
    margin-bottom: 10px;
    color: white;
    text-shadow: 3px 3px 3px #9c9c9c6f;
    font-weight: 500;
}

.header-content p{
    color: white;
    margin-top: 0px;
    margin-bottom: 30px;
}

.learnmore{
    padding: 10px 20px;
    border: 1px solid #05338f;
    border-radius: 50px;
    color: #05338f;
    margin-right: 30px;
}

.learnmore:hover{
    background: var(--gradient-3);
    border: none;
    color: whitesmoke;
}

.hero-img{
    margin-left: 80px;

}

/* Services */

#thirdService{
    margin-bottom: 80% !important;
}

.services{
    margin-top: 85px;
}

.container{
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 !important;
    margin-bottom: 100px;
    margin: auto auto !important;
}
.grid-wrapper, .services-content{
    flex: 50%;
}
.grid-wrapper{
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}
.grid-wrapper img{
    width: 100%;
}

.serviceContainer{
    display: inline;
    height: 100%;
}

.firstService{
    border-radius: 15px 0px 0px 0px;
    
}
.firstService{
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.693);
}
.secondService{
    border-radius: 0px 0px 0px 0px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.693);
}

.thirdService{
    border-radius: 0px 15px 0px 0px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.693);
}

.fourthService{
    border-radius: 0px 0px 0px 15px;
    height: 100%;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.693);
}

.fifthService{
    border-radius: 0px 0px 15px 0px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.693);
}


.grid-box img{
    width: 100%;
    height: 100%;
    height: 80px;
    margin-bottom: 10px;
}


.grid-box h1{
    color: rgb(240, 240, 240);
    font-weight: 600;
    font-size: 22px;
    margin-top: 18px;
}


.services-content {
    padding: 3rem;
    position: relative;
    margin-bottom: 50px;
}
.services-content h1{
    color: rgb(239, 239, 239);
    text-shadow: 3px 3px 3px #2e2e2e;
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 600;
}
.services-content p{
    padding-right: 5rem;
    margin-bottom: 30px;
    color: rgb(223, 223, 223);
    text-align: justify;
}
.circle img{
    position: absolute;
    top: -50px;
    left: -20px;
    width: 650px;
    z-index: -2;
    animation: scaleup 3s ease-in-out infinite;
}

/* Numbers */
.numbers{
    margin-top: 100px;
}
.numbers .num-text{
    color: white;
    text-shadow: 3px 3px 3px #c9c9c96f;
    font-size: 40px;
    font-weight: 600;
    padding-left: 5rem;
    padding-right: 50%;
}
.numbers p{
    padding-left: 5rem;
    padding-right: 50%;
    color: rgb(201, 201, 201);
}

.firstObra{
    border-radius: 15px 0px 0px 0px;
    height: 100%;
}
.secondObra{
    border-radius: 0px 15px 0px 0px;
}

.fourthObra{
    border-radius: 0px 0px 15px 0px;
}
.fifthObra{
    border-radius: 0px 0px 0px 15px;
}

.obraShadow{
    box-shadow: 5px 5px 5px 1px rgb(78, 78, 78);
}

.mockup-img{
    flex-basis: 40%;
    margin-top: 30px;
}
.mockup-img img{
    max-width: 100%;
    margin: 20px;
    box-shadow: 5px 5px 5px 1px rgb(78, 78, 78);
    border-radius: 10px;
}
.hpyClients{
    background: var(--gradient-1);
}
.prjCompleted{
    background: var(--gradient-2);
}
.rnProjects{
    background: var(--gradient-3);
}
.designs{
    background: var(--gradient-4);
}

.numbers .grid-box h2{
    color: whitesmoke;
    font-weight: 400;
    margin-top: 30px;
    font-size: 20px;
}

.numbers .grid-box h1{
    font-size: 40px;
}
.numbers .grid-box{
    transition: transform 0.8s ease-in-out;
}
.numbers .grid-box:hover{
    transform: translateY(-20px);
}

/* Projects */
.projects{
    margin-top: 60px;
    text-align: center;
}
.projects h1{
    color: #0f3d99;
    text-shadow: 3px 3px 3px #00000025;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}
.projects p{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    /* margin: 20px auto 0px auto; */
}

.head-title{
    width: fit-content;
    place-items: center;
    margin: auto auto;
}

.overflow-title{
    margin-left: -70px;
}

.bolivianFlag{
    width: 250px;
    position: absolute;
    left: 82vw;
    transform: rotate(380deg);
    z-index: -1;
    overflow: hidden;
}

/* Typing Class and Animation */
.typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 1.5s steps(30, end) forwards;
}
    
@keyframes typing {
    from { width: 0 }
    to { width: 110% }
}

.projects-buttons{
    display: inline-flex;
    width: fit-content;
    margin: 30px auto 50px auto;
}

.projects-buttons .emailBtn{
    padding: 9px 15px;
    background-color: #023a8f;
    color: white;
    border-radius: 12px;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
}

.projects-buttons a:hover{
    background-color: #1246ad;
    text-decoration: none;
}


.projects-buttons .whatsappBtn{
    padding: 9px 15px;
    background-color: #1da44f;
    color: white;
    border-radius: 12px;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    margin-right: 30px;
}

.projects-buttons .whatsappBtn:hover{
    background-color: #21b858;
    text-decoration: none;
}


.projects-images{
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}
.prj-img{
    height: 300px;
    overflow: hidden;
    position: relative;
}
.prj-img img{
    max-height: 100%;
    min-width: 100%;
}

.details{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background: #052973b4;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
.details h1{
    font-size: 20px !important;
    padding: 0px 2px !important;
}

.prj-img:hover .details{
    transform: scaleX(1);
    cursor: pointer;
}

.details h1, h2, i{
    color: whitesmoke;
}

.details i{
    font-size: 30px;
}

/* Noticias */
.noticias{
    text-align: center;
    margin: auto auto;
}
.noticias .container{
    margin: 0px auto !important;
    text-align: center;
}
.new-title{
    margin-bottom: 60px;
}
.noticias h1{
    color: white;
    text-shadow: 3px 3px 3px #c9c9c96f;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 45px;
}
.noticias p{
    font-size: 17px;
    font-weight: bold;
    color: rgb(214, 214, 214);
}
.head-noticias{
    justify-content: center;
    align-items: center;
}

.noticias-content{
    margin-top: -40px;
    width: 100%;
    display: inline-flex;
}

.noticias-item{
    width: 20%;
    height: 210px;
    margin: 90px 15px 0px 15px;
    box-shadow: 5px 5px 5px 1px rgb(55, 55, 55);
}
.noticias-item img{
    width: 100%;
    height: 100%;
    border-radius: 15px 0px 0px 0px;
}
.noticias-item h3{
    font-size: 20px;
    font-style: italic;
    color: rgb(231, 231, 231);
    background-color: #042c7b;
    font-weight: 600;
    text-shadow: 3px 3px 3px #8484846f;
    padding: 14px 0px 12px 0px;
    border-radius: 0px 0px 15px 0px;
    box-shadow: 5px 5px 5px 1px rgb(55, 55, 55);
}

.separator{
    width: 100% !important;
    height: 1px !important;
    margin: 8px 0;
    background-color: rgb(220, 220, 220);
}


/* Cards Carousel Section */
.containerCarousel{
    position: relative;
    width: 320px;
    margin: 70px auto 0 auto;
    perspective: 1800px;
    margin-bottom: 450px;
}

.carousel {
    overflow: hidden;
    position: absolute;
    left: -1%;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 24s infinite forwards linear;
}
.carousel__face { 
    position: absolute;
    width: 300px;
    overflow: hidden;
    height: 187px;
    top: 20px;
    left: 5px;
    right: 10px;
    background-size: cover;
    border-radius: 10px;
    box-shadow: inset 0 0 0 800px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.693);
    display: flex;
}
.carousel__face:hover{
    cursor: pointer;
    background-size: 106%;
}

span {
    margin: auto;
    font-size: 1.5rem;
    color: white;
    font-style: italic;
    text-shadow: 3px 3px 3px #000000;
    
}


.carousel__face:nth-child(1) {
    background-image: url("../../sources/NewSources/projects/fachadas.webp");
    transform: rotateY(  0deg) translateZ(430px);
}
.carousel__face:nth-child(2) { 
    background-image: url("../../sources/NewSources/projects/ventanasAluminio.webp");
    transform: rotateY( 40deg) translateZ(430px);
}
.carousel__face:nth-child(3) {
    background-image: url("../../sources/NewSources/projects/pañoAluminio.webp");
    transform: rotateY( 80deg) translateZ(430px);
}
.carousel__face:nth-child(4) {
    background-image: url("../../sources/NewSources/projects/puertasAluminio.webp");
    transform: rotateY(120deg) translateZ(430px);
}
.carousel__face:nth-child(5) { 
    background-image: url("../../sources/NewSources/projects/placas.webp");
    transform: rotateY(160deg) translateZ(430px);
}
.carousel__face:nth-child(6) { 
    background-image: url("../../sources/NewSources/projects/reposicion.webp");
    transform: rotateY(200deg) translateZ(430px);
}
.carousel__face:nth-child(7) {
    background-image: url("../../sources/NewSources/projects/camaraFrio.webp");
    transform: rotateY(240deg) translateZ(430px);
}
.carousel__face:nth-child(8) {
    background-image: url("../../sources/NewSources/projects/revestimiento.webp");
    transform: rotateY(280deg) translateZ(430px);
}
.carousel__face:nth-child(9) {
    background-image: url("../../sources/NewSources/projects/cubiertas.webp");
    transform: rotateY(320deg) translateZ(430px);
}


@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}



  


/* CONTACT SECTION */
footer{
    /* background-color:rgb(5, 25, 63); */
    background-color: #042c7b;
    color: white;
    padding: 1rem 0 2rem;
    margin-top: 0rem;
}
#brand-footer{
    font-size: 2.5rem;
    color: white;
    text-shadow: .35rem .35rem .8rem black !important;
}
#brand-footer:hover{
    text-decoration: none;
}
footer p{
    margin-bottom: 0.5rem !important;
}
footer a{
    color: white;
}
#mailBtn:hover{
    text-decoration: none;
    text-underline: none;
    color: white;
}
footer svg.svg-inline--fa{
    font-size: 1.6rem;
    margin: 0.2rem .5rem 0.2rem 0;
    text-shadow: .35rem .35rem .8rem black !important;
    transition: all 1s;
}
footer .svg-inline--fa:hover{
    transform: rotate(360deg);
    color: rgb(194, 194, 194);
}
hr.socket{
    width: 100%;
    border-top: .13rem solid #ededed;
    margin-top: 1.7rem;
}

@media screen and (max-width: 978px) {
    .navbar-toggler{
        margin-left: 0px !important;
    }
    .circle img{
        width: 600px;
        left: -90px;
    }
    .container{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .noticias-content{
        width: 100%;
        
        display: inline-block;
    }
    .noticias-item{
        width: 90% !important;
    }
    .grid-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    }
    .services-content {
        padding: 3rem;
        position: relative;
        margin-bottom: 0px;
    }
    .services-content h1{
        font-size: 6vmin;
        
        font-weight: 600;
    }
    .services-content p{
        font-size: 15.5px;
        margin-bottom: 30px;
    }
    .projects{
        margin-left: 30px;
    }
}

@media  screen and (max-width: 750px) {
    .header-content{
        width: 80%;
        top: 25%;
    }
    /* Cards Carousel Section */
    .containerCarousel{
        margin: 70px auto 0 auto;
        perspective: 3000px;
        margin-bottom: 380px;
    }

    .carousel {
        animation: rotate360 22s infinite forwards linear;
        left: -12%;
    }
    .carousel__face {
        width: 250px;
        height: 147px;
        display: flex;
        gap: 100px !important;
    }
    
}

@media screen and (max-width: 390px) {
    .circle img{
        position: absolute;
    }
    .card{
        height: 280px;
        width: 270px;
        margin: 20px 0px;
    }
    .webdesign{
        margin-bottom: 30px;
    }
    .marketing{
        margin-top: 30px;
    }
    .services-content{
        padding: 0.5rem;
        margin-top: 30px;
    }
    .services-content h1{
        text-align: center;
        font-size: 38px;
        margin-bottom: 15px;
    }
    .services-content p{
        padding-right: 0rem;
        font-size: 16px;
        justify-content: center;
        margin-bottom: 35px;
    }
    .numbers h1.num-text{
        padding: 0px 10px;
    }
    .numbers p{
        padding: 15px 10px;
    }
    .grid-box{
        margin-bottom: 30px;
    }
    .mockup-img img{
        margin: 10px 0px !important;
    }
    .projects{
        margin-top: 50px;
        
    }
    .projects h1{
        font-size: 25px;
    }
    .overflow-title h1{
        font-size: 14px;
    }
    .overflow-title p{
        font-size: 12px;
    }
    .projects-images{
        padding: 2rem 0rem 0rem 0rem;
    }
    .prj-img img{
        max-height: 100%;
        min-width: 100%;
        width: 350px;
        height: 300px;

    }
}
@media (max-width: 1480px){
    .nav-link{
      font-size: 12px !important;
    }
}
@media (max-width: 1200px){
    .nav-link{
        font-size: 14px !important;
    }
}
@media (max-width: 1350px){
    .nav-link{
        font-size: 13px !important;
    }
}

@media screen and (max-width: 490px) {
    .card{
        height: 280px;
        width: 270px;
        margin: 20px 0px;
    }
    .webdesign{
        margin-bottom: 30px;
    }
    .marketing{
        margin-top: 30px;
    }
    .services-content{
        padding: 0.5rem;
        margin-top: 30px;
    }
    .services-content h1{
        text-align: center;
        font-size: 38px;
        margin-bottom: 15px;
    }
    .services-content p{
        padding-right: 0rem;
        justify-content: center;
        margin-bottom: 35px;
        text-align: center;
        font-size: 15.5px
    }
    .numbers h1.num-text{
        padding: 0px 10px;
    }
    .numbers p{
        padding: 15px 10px;
    }
    .grid-box{
        margin-bottom: 30px;
    }
    .mockup-img img{
        margin: 10px 0px !important;
    }
    .projects{
        margin-top: 50px;
    }
    .projects h1{
        font-size: 25px;
        font-weight: bold;
    }
    .projects p{
        font-size: 14px;
    }
    .projects-images{
        padding: 2rem 0rem 0rem 0rem;
    }
    .prj-img img{
        max-height: 100%;
        min-width: 100%;
        width: 350px;
        height: 300px;

    }
    .header-content{
        flex-basis: 100%;
        padding: 2.5rem;
    }
}



/* Animations */
@keyframes scaleup{
    0% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.4);
    }
}
